$mainColor: #00AEEF; // Biru muda sebagai warna utama
$mainColorAlpha: rgba(0, 174, 239, 0.8); // Biru muda dengan transparansi
$secondColor: #004080; // Biru tua sebagai warna aksen
$secondColorAlpha: rgba(0, 64, 128, 0.8); // Biru tua dengan transparansi
$thirdColor: #FFFFFF; // Putih sebagai warna kedua
$thirdColorAlpha: rgba(255, 255, 255, 0.8); // Putih dengan transparansi


$colorRed: #F44336;
$colorPink: #E91E63;
$colorPurple: #9C27B0;
$colorBlue: #2196F3;
$colorLightGreen: #8BC34A;
$colorLime: #C0CA33;
$colorLime-1: #F0F4C3;
$colorYellow: #FFEB3B;
$colorAmber: #F57F17;
$colorOrange: #FF9800;

$colorLightGrey: #FAFAFA;
$colorGrey: #E0E0E0;
$colorGrey1: #EEeded;
$colorGrey2: #9E9E9E;
$colorGrey3: #616161;
$colorGrey4: #474747;

$colorBrown-0: #EFEBE9;
$colorBrown-1: #795548;
$colorBrown-2: #5D4037;
$colorBrown-3: #BF360C;

$ColorWhite: #FFF;
$ColorBlack: #000;
$ColorDark: #212121;

$section-ba-1: #F1F9FF; // Warna latar belakang bagian, biru sangat terang

$mainFont: 'Poppins', sans-serif; // Font utama
$secondFont: 'Playfair Display', serif; // Font kedua
$thirdFont: 'Great Vibes'; // Font ketiga
